{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}
    Корзина 
{% endblock %}


{% block content %}
<h1>Список продуктов в корзине</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Продукт</th>
        <th scope="col">Количество</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Сумма</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      {% for productincart in productsincart %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'product' productincart.product.pk %}">{{ productincart.product.name }}</a></td>
          <td>{{ productincart.quantity }}</td>
          <td>{{ productincart.product.price }}</td>
          <td>{{productincart.quantity|mul:productincart.product.price|floatformat:2}}</td>
          <td><a href="#">Удалить</a></td>
        </tr>
      {% endfor %}
      <tr>
        <th></th>
        <td><b>Итого:</b></td>
        <td></td>
        <td></td>
        <td><b>{{ total }}</b></td>
      </tr>
    </tbody>
  </table>

  {% endblock %}