{% extends 'base.html' %}
{% load static %}

{% block title %}
    Список продуктов 
{% endblock %}

{% block searchform %}
  <form action="" method="GET">
    {% csrf_token %}

    {{ form }}
    <button class="btn btn-outline-success" type="submit">Поиск</button>


  </form>
{% endblock  %}

{% block content %}
  
  <h1>Список продуктов</h1>

  <div class="row">
    {% for product in products %}

    {% include 'partial/product_card.html' %}


    {% empty %}
    <p>Продукты не найдены</p>
    {% endfor %}  
  </div>

{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}

{% endblock %}