{% extends 'base.html' %}
{% load static %}

{% block title %}
    Продукты 
{% endblock %}


{% block content %}
<h1>Дополнительная информация</h1>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.photo }}" class="img-fluid rounded-start" alt="{{ product.name }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Количество: {{ product.balance }} </p>

          <p class="card-text">Цена: {{ product.price }} </p>
          <a href="#"><img class="mt-3" src="{% static '/img/cart.png' %}" alt="cart" width="25" height="25">
          </a>


          <p class="card-text">{{ product.get_category_display }} </p>
          <p class="card-text"><small class="text-muted">{{ product.description }}</small></p>
          <a class="btn btn-secondary btn-sm" href="{% url 'product_update' product.pk %}">Edit</a>
          <a class="btn btn-secondary btn-sm" href="{% url 'product_delete' product.pk %}">Delete</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}